@model SwiftyNames.V1._0.Models.NewsPaperModel
@{
    ViewBag.Title = "CatalogView";
}

<h2>CatalogView</h2>
@Html.ActionLink("Click to have Your name Change", "AvailableNewsPaper", "NamesCatalog")
<br/>
<hr/>
Metro Style


<div>

 
        @*@foreach (var list in ViewData["batch"] as List<SelectListItem>)
            {
                var e = new List<string>();
                <li style="display: block;height:15px;">@Html.CheckBox(list.Value)</li>
                <li style="display: block; height: 15px; font-size: 12px;margin-left:25px;margin-top:-15px">@Html.Label(list.Text)</li>
                e.Add(list.Selected.ToString());
               TempData["r"] = e;

            }*@

   
</div>