
@{
    ViewBag.Title = "ChangeOfNamey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChangeOfNamey</h2>
<html>
@*<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.js"></script>
</head>*@
<body>
    <form method="POST" class="form" action="">
        <div class="step">Window 1</div>
        <div class="step">Window 2</div>
        <div class="step">Window 3</div>
        <div class="step">Window 4</div>
        <button type="button" class="action back">Back</button>
        <button type="button" class="action next">Next</button>
        <button type="button" class="action submit">Submit</button>
    </form>
</body>
</html>
<script>
$(document).ready(function(){
	var current = 1;

	widget      = $(".step");
	btnnext     = $(".next");
	btnback     = $(".back");
	btnsubmit   = $(".submit");

	// Init buttons and UI
	widget.not(':eq(0)').hide();
	hideButtons(current);
	setProgress(current);

	// Next button click action
	btnnext.click(function(){
		if(current < widget.length){
			// Check validation
			if($(".form").valid()){
				widget.show();
				widget.not(':eq('+(current++)+')').hide();
				setProgress(current);
			}
		}
		hideButtons(current);
	})

	// Back button click action
	btnback.click(function(){
		if(current > 1){
			current = current - 2;
			if(current < widget.length){
				widget.show();
				widget.not(':eq('+(current++)+')').hide();
				setProgress(current);
			}
		}
		hideButtons(current);
	})

	// Submit button click
	btnsubmit.click(function(){
		alert("Submit button clicked");
	});

    $('.form').validate({ // initialize plugin
		ignore:":not(:visible)",
		rules: {
			name : "required"
		},
    });

});

// Change progress bar action
setProgress = function(currstep){
	var percent = parseFloat(100 / widget.length) * currstep;
	percent = percent.toFixed();
	$(".progress-bar").css("width",percent+"%").html(percent+"%");
}

// Hide buttons according to the current step
hideButtons = function(current){
	var limit = parseInt(widget.length);

	$(".action").hide();

	if(current < limit) btnnext.show();
	if(current > 1) btnback.show();
	if (current == limit) {
		btnnext.hide();
		btnsubmit.show();
	}
}
</script>